.flex__wrapper {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 100%;
    margin:50px 0 0 50px;
    border: 1px solid black;
}

.col-2 {
    margin: 0;
    width: 100px;
    text-align: left;
    font-size: 13px;
    border: 1px solid black;
}